<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado Personas</title>
<link rel="stylesheet" href="/styles/estilo-simple.css">
</head>
<body>
	<h1>ejemplo de paso de un listado desde un controller</h1>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>DNI</th>
				<th>Edad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="persona : ${personas}">
				<th th:text="${persona.nombre}"></th>
				<th th:text="${persona.apellidos}"></th>
				<th th:text="${persona.DNI}"></th>
				<th th:text="${persona.edad}"></th>
			</tr>
		</tbody>
	</table>
</body>
</html>